// Add Option Error
.add-option-error {
    color: $off-white;
    font-style: italic;
    padding: 0 $m-size;
    margin: $m-size 0 0 0;
}

// Add Option
.add-option {
    display: flex;
    flex-direction: column;
    padding: $m-size;
}

.add-option__input {
    background: $dark-blue;
    flex: 1 1 0;
    border: none;
    border-bottom: .3rem solid darken($dark-blue, 10%);
    margin: 0 0 $s-size 0;
    padding: $s-size;
    color: $off-white;
}

// modile device
@media (min-width: $desktop-breakpoint) {
    * {
        color: lightcoral;
    }
    
    .add-option {
        flex-direction: row;
    }

    .add-option__input {
        margin: 0 $s-size 0 0;
    }
} 
