.big-button {
    background: $purple;
    border: none;
    border-bottom: .6rem solid darken($purple, 15%);
    color: white;
    font-weight: bold;
    width: 100%;
    font-size: $l-size;
    margin-bottom: $xl-size;
    padding: $m-size;
}

.big-button:disabled {
    opacity: .5;
}

.button {
    background: $purple;
    border: none;
    border-bottom: .3rem solid darken($purple, 15%);
    color: white;
    font-weight: 500;
    padding: $s-size;
}

.button__link {
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
}

// modile device
@media (max-width: $desktop-breakpoint) {
    .big-button {
        margin-bottom: $m-size;
    }
} 